In [15]:
import pandas as pd
import numpy as np
import networkx as nx
import os
from os import listdir
import random

# Klebsiella pneumoniae subsp. pneumoniae MGH 78578

In order to have the same RefSeq on both databases, this subspecie is used

In [19]:
bacteria = 'Klebsiella'

# Data From PATRIC

## Genomic Features

The table below contains a list of genomic features, including coding DNA.

Each feature is solely identified by BRC ID and associated to a protein family referred as PATRIC genus-specific families (PLfams). Most of the genes has the associated RefSeq.

In [6]:
features = pd.read_csv('genome_features.csv')

Through this table, we extract useful data to map protein families referred by Nguyen et. al.:

In [5]:
plf = features[['BRC ID', 'PATRIC genus-specific families (PLfams)']].astype("string")
plf.columns = ['BRC_ID', 'PLFam']
plf.set_index('BRC_ID', inplace = True)
plf

                                   PLFam
BRC_ID
fig|83332.12.peg.1000  PLF_1763_00001652
fig|83332.12.peg.1001  PLF_1763_00001934
fig|83332.12.peg.1002  PLF_1763_00021396
fig|83332.12.peg.1003  PLF_1763_00003246
fig|83332.12.peg.1004  PLF_1763_00003200
...                                  ...
fig|233413.5.peg.7     PLF_1763_00003574
fig|233413.5.peg.999   PLF_1763_00002802
fig|233413.5.peg.106   PLF_1763_00002641
fig|233413.5.peg.1000  PLF_1763_00002923
fig|233413.5.peg.1001  PLF_1763_00165187

[17217 rows x 1 columns]

## Specialty Genes

The table containing specialty genes relates several genomic features to a relevant property. Here the table is filtered by the antibiotic resistance property

In [29]:
AMR_genes = pd.DataFrame(pd.read_csv('specialty_genes.csv')['BRC ID'])
AMR_genes.columns = ['BRC_ID']

## Data from Nguyen et. al.

In [17]:
plf_500 = []

datadir = f'E:/User/bruna.fistarol/Documents/GitHub/Nguyen_et_al_2020/{bacteria}/fasta.500.0'
for strain in listdir(datadir):
    with open(os.path.join(datadir, strain), 'r') as sequences:
        for line in sequences:
            if line[0] == '>':
                plf_500.append(line[1:len(line)-1])
                
plf_500 = pd.DataFrame(np.unique(plf_500))
plf_500.columns = ['Protein Family ID']

## RefSeq Mapping

In [10]:
refseq = features[['BRC ID', 'RefSeq Locus Tag']]
refseq.columns = ['BRC_ID', 'RefSeq']
refseq.set_index('BRC_ID', inplace = True)

In [30]:
AMR_refseq = features[['RefSeq Locus Tag']][features['BRC ID'].isin(AMR_genes['BRC_ID'])].reset_index(drop = True)
AMR_refseq.columns = ['AMR_RefSeq']

In [22]:
plf_map_refseq = features[['RefSeq Locus Tag', 'PATRIC genus-specific families (PLfams)']][features['PATRIC genus-specific families (PLfams)'].isin(plf_500['Protein Family ID'])].reset_index(drop = True)
plf_map_refseq.columns = ['RefSeq', 'PLF']
plf_map_refseq.dropna(inplace = True)
plf_map_refseq = plf_map_refseq.reset_index(drop = True)

In [23]:
plf_map_refseq

        RefSeq               PLF
0    KPN_00896  PLF_570_00000827
1    KPN_00900  PLF_570_00002125
2    KPN_00902  PLF_570_00000651
3    KPN_00909  PLF_570_00001323
4    KPN_00917  PLF_570_00001430
..         ...               ...
479  KPN_00081  PLF_570_00000905
480  KPN_00859  PLF_570_00002832
481  KPN_00868  PLF_570_00002022
482  KPN_00884  PLF_570_00000996
483  KPN_00890  PLF_570_00002286

[484 rows x 2 columns]

## Protein Interaction Network

In [33]:
ppi_patric = pd.read_csv('ppi_patric.csv')
ppi_patric = ppi_patric[['Interactor A ID', 'Interactor B ID']].astype("string")
ppi_patric.columns = ['Interactor_A_ID', 'Interactor_B_ID']
ppi_refseq = ppi_patric
for i in range(len(ppi_patric['Interactor_A_ID'])):
    ppi_refseq.at[i, 'Interactor_A_ID'] = refseq.loc[ppi_patric['Interactor_A_ID'][i]].RefSeq
        
for i in range(len(ppi_patric['Interactor_B_ID'])):
    ppi_refseq.at[i, 'Interactor_B_ID'] = refseq.loc[ppi_patric['Interactor_B_ID'][i]].RefSeq

     Interactor_A_ID Interactor_B_ID
0          KPN_01979       KPN_03910
1          KPN_03878       KPN_04176
2          KPN_02823       KPN_03551
3          KPN_01375       KPN_02032
4          KPN_03530       KPN_03650
...              ...             ...
4995       KPN_00243       KPN_02940
4996       KPN_01067       KPN_04120
4997       KPN_00416       KPN_01950
4998       KPN_00379       KPN_04382
4999       KPN_00174       KPN_00644

[5000 rows x 2 columns]

In [35]:
ppi_string = pd.read_csv('ppi_string.txt', sep = ' ')
ppi_string.columns = ['Interactor_A_ID', 'Interactor_B_ID', 'weight']
ppi_string.replace('272620.', '', regex = True, inplace = True)

In [47]:
ppi = pd.DataFrame(pd.concat([ppi_refseq, ppi_string], axis = 0))

In [48]:
ppi

       Interactor_A_ID Interactor_B_ID  weight
0            KPN_01979       KPN_03910     NaN
1            KPN_03878       KPN_04176     NaN
2            KPN_02823       KPN_03551     NaN
3            KPN_01375       KPN_02032     NaN
4            KPN_03530       KPN_03650     NaN
...                ...             ...     ...
110027       KPN_04868       KPN_04867   550.0
110028       KPN_04867       KPN_04869   550.0
110029       KPN_04869       KPN_04867   550.0
110030       KPN_04868       KPN_04869   550.0
110031       KPN_04869       KPN_04868   550.0

[115032 rows x 3 columns]

In [50]:
conserved_ppi_A = plf_map_refseq[plf_map_refseq['RefSeq'].isin(ppi['Interactor_A_ID'])]['RefSeq']
conserved_ppi_B = plf_map_refseq[plf_map_refseq['RefSeq'].isin(ppi['Interactor_B_ID'])]['RefSeq']

conserved_ppi = pd.DataFrame(pd.concat([conserved_ppi_A, conserved_ppi_B], axis = 0).drop_duplicates())

In [51]:
conserved_ppi

        RefSeq
0    KPN_00896
1    KPN_00900
2    KPN_00902
3    KPN_00909
4    KPN_00917
..         ...
481  KPN_00868
482  KPN_00884
483  KPN_00890
369  KPN_04205
417  KPN_04638

[421 rows x 1 columns]

In [52]:
AMR_ppi_A = AMR_refseq[AMR_refseq['AMR_RefSeq'].isin(ppi['Interactor_A_ID'])]['AMR_RefSeq']
AMR_ppi_B = AMR_refseq[AMR_refseq['AMR_RefSeq'].isin(ppi['Interactor_B_ID'])]['AMR_RefSeq']

AMR_ppi = pd.DataFrame(pd.concat([AMR_ppi_A, AMR_ppi_B], axis = 0))
AMR_ppi.reset_index(drop=True, inplace=True)

In [54]:
AMR_ppi

    AMR_RefSeq
0    KPN_00911
1    KPN_00912
2    KPN_00096
3    KPN_01093
4    KPN_01284
..         ...
131  KPN_00806
132  KPN_00807
133  KPN_00808
134  KPN_00873
135  KPN_00874

[136 rows x 1 columns]

In [55]:
ppi_info = pd.DataFrame(columns = ['Conserved Gene', 'Shortest Path to an AMR gene (length)',])

ppi_info['Conserved Gene'] = conserved_ppi.reset_index(drop = True)['RefSeq']

In [56]:
ppi_graph = nx.from_pandas_edgelist(ppi, 'Interactor_A_ID', 'Interactor_B_ID')

In [57]:
ppi_graph.number_of_edges()

59350

In [58]:
ppi_graph.number_of_nodes()

3814

In [59]:
ppi_graph = nx.from_pandas_edgelist(ppi, 'Interactor_A_ID', 'Interactor_B_ID')

idx = 0
for i in conserved_ppi['RefSeq']:
    lengths = []
    for j in AMR_ppi['AMR_RefSeq']:
        if nx.has_path(ppi_graph, i, j):
            lengths.append(nx.shortest_path_length(ppi_graph, i, j))
    if lengths:        
        ppi_info['Shortest Path to an AMR gene (length)'][idx] = min(lengths)
        
    idx += 1

In [60]:
print(ppi_info.groupby(['Shortest Path to an AMR gene (length)']).size().reset_index(name='Count'))

   Shortest Path to an AMR gene (length)  Count
0                                      1    120
1                                      2    262
2                                      3     37
3                                      4      1

In [61]:
plf_map_refseq = plf_map_refseq.set_index('RefSeq')

In [64]:
for i in ppi_info['Shortest Path to an AMR gene (length)'].unique():
    gene_set = ppi_info[ppi_info['Shortest Path to an AMR gene (length)'] == i]['Conserved Gene']
    globals()[f'plf_length_{i}'] = plf_map_refseq.loc[list(gene_set)]['PLF']

In [ ]:
mydir = f'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/{bacteria}'
datadir = f'E:/User/bruna.fistarol/Documents/GitHub/Nguyen_et_al_2020/{bacteria}'

for i in ppi_info['Shortest Path to an AMR gene (length)'].unique():
    newdir = f'length.{i}'
    path = os.path.join(mydir, newdir)
    os.mkdir(path)
    
    sample = f'E:/User/bruna.fistarol/Documents/GitHub/Nguyen_et_al_2020/{bacteria}/fasta.500.0'
    for strain in listdir(sample):
        with open(os.path.join(path, strain), 'a') as mystrain:
            with open(os.path.join(sample, strain), 'r') as sequences:
                first_loop = True
                for line in sequences:
                    if line[0] == '>':
                        if first_loop:
                            plfam = line[1:len(line)-1]
                            seq = ''
                            first_loop = False
                            continue
                        if plfam in list((globals()[f'plf_length_{i}'])):
                            mystrain.write('>' + plfam + '\n')
                            mystrain.write(seq)
                        plfam = line[1:len(line)-1]
                        seq = ''
                    else:
                        seq += line
                if plfam in list((globals()[f'plf_length_{i}'])):
                            mystrain.write('>' + plfam + '\n')
                            mystrain.write(seq)

In [ ]:
for i in ppi_info['Shortest Path to an AMR gene (length)'].unique():
    globals()[f'len_{i}'] = []
    for strain in listdir(f'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/{bacteria}/length.{i}'):
        with open(os.path.join(f'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/{bacteria}/length.{i}', strain), 'r') as sequence:
            genes = 0
            for line in sequence:
                if line[0] == '>':
                    genes += 1
            globals()[f'len_{i}'].append(genes)

At this point, it is possible to use this new configuration of data to run the model. We can take 25 genes to each strain for lengths equals to 1, 2 and 3, because the results from the paper also are derived from groups of 25 genes, hence, we can compare these results.

In [ ]:
mydir = 'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/Staphylococcus'
os.mkdir(os.path.join(mydir, '25genes'))
dir_25genes = 'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/Staphylococcus/25genes'

for j in [0, 1, 2, 3, 4]:
    
    rand_idx = [sorted(random.sample(range(1,36), 25)), 
                sorted(random.sample(range(1,105), 25)), 
                sorted(random.sample(range(1,69), 25))]
    
    for i in [1, 2, 3]:   

        path = f'E:/User/bruna.fistarol/Documents/GitHub/Fistarol_2022_2.0/Staphylococcus/length.{i}'
        mydir = os.path.join(dir_25genes, f'length.{i}.{j}')
        os.mkdir(mydir)

        for strain in listdir(path):
            with open(os.path.join(mydir, strain), 'a') as mystrain:
                with open(os.path.join(path, strain), 'r') as sequences:
                    c = 0
                    first_loop = True
                    for line in sequences:
                        if line[0] == '>':
                            if first_loop:
                                plfam = line
                                seq = ''
                                c += 1
                                first_loop = False
                                continue
                            if c in rand_idx[i-1]:
                                mystrain.write(plfam)
                                mystrain.write(seq)
                            plfam = line
                            seq = ''
                            c += 1
                        else:
                            seq += line
                    if c in rand_idx[i-1]:
                            mystrain.write(plfam)
                            mystrain.write(seq)